:root {
	--hovercolorbody: #212020;
	--blackcolorbody1: #171616;
	--blackcolorbody2: #212020;
	--blackcolorbody3: #0f0e0e;
	--blackcolorbody4: #060606;

	--footer-color: #272727;
	--footer-button-color: #424141;
	--footer-bar-color: #212020;
	--iconhover: red;
}

body {
	font-family: 'Montserrat';

	/* * opcional 
	display: flex; 
	justify-content: center;
	align-items: center; */
}


/* =============
	 *Menu Body
	============= */
.bodymenu {
	margin-left: 300px;
	width: auto;
	height: auto;
	transition: all 0.3s;
	padding-top: 25px;
}

/* Control body sections */
.bodymenu section {
	padding-left: 90px;
}

/* Linea de texto */
.bodymenu section #simple-line {
	margin-left: 1.6px;
	padding-bottom: 10px;
	border-bottom: 3px solid #424141;
	width: 50px;
}



/* ===================
	SECTION BACKGROUND
 	===================  */

#background {
	margin-left: -91px;
	margin-top: -25px;
}

#background .content-background img {
	max-width: auto;
	max-height: 500px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ===================
	END SECTION BACKGROUND
 	===================  */




/* ===================
	   SECTION HOME
 	===================  */
#homepage {
	margin-top: 40px;
}

#homepage .home-presentation {
	margin-top: 20px;
}

/* ===================
	 END SECTION HOME
 	===================  */



/* ===================
	  SECTION ABOUT ME
 	===================  */
#about {
	margin-top: 40px;
}

#about .about-content {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: left;
}

#about .about-content .img-info {
	width: 400px;
	height: auto;
	padding-left: 30px;
}

#about .about-content .img-info img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#about .about-content .about-info {
	margin-left: 70px;
	height: 100%;
	width: 100%;
	padding: 10px;
}

#about .about-content .about-info h4 {
	font-weight: 700;
}

#about .about-content .about-info .about-data {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 500px;
	height: 100%;
}

#about .about-content .about-info .about-data p {
	width: 50%;
}

/* ===================
	END SECTION  ABOUT ME
	===================  */





/* ===================
	 SECTION SKILLS
 	===================  */

#skills {
	margin-top: 40px;
}

#skills .skills-languages,
#skills .skills-backend,
#skills .skills-frontend,
#skills .skills-db,
#skills .skills-extra {
	padding: 30px;
	margin-left: 20px;
	/* border: 1px solid red; */
}

/* #skills .skills-languages h3,
#skills .skills-backend h3,
#skills .skills-frontend h3,
#skills .skills-db h3,
#skills .skills-extra h3{
	font-size: 2vw;

	border: 1px solid red;
} 
*/

#skills #img-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	margin-left: 20px;

	/* border: 1px solid red; */
}

#skills .skills-languages #img-content img,
#skills .skills-backend #img-content img,
#skills .skills-frontend #img-content img,
#skills .skills-db #img-content img,
#skills .skills-extra #img-content img {
	margin: 10px;
	padding-top: 20px;
	max-width: 130px;
	max-height: 100px;
	width: 100%;
	height: 100%;
	object-fit: contain;
	/* 	
	border: 1px solid red; */
}

/* ===================
	END SECTION SKILLS
 	===================  */


/* ===================
	 SECTION PROJECTS
 	===================  */
#projects {
	margin-top: 40px;
}

#projects h4 {
	margin-top: 20px;
}

/* ===================
	END SECTION PROJECTS
	=================== */


/* ===================
	    SECTION ETC
	=================== */
#etc {
	margin-top: 40px;
}

#etc h4 {
	margin-top: 20px;
}

/* ===================
	END SECTION ETC
	=================== */


/* ===================
	     FOOTER
	===================  */

.footermenu {
	margin-top: 100px;
	position: static;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--footer-color);
	color: #fff;
}

/* ---------- CONTACT FOOTER ---------- */
.footermenu .contact-me {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	text-align: center;
	color: #fff;
	background: var(--footer-bar-color);
	border-radius: 1px;

	position: relative;
	top: -50px;
	margin: 0px 60px 0px 60px;
	padding: 15px 25px 15px 25px;
}

.footermenu .contact-me #contact-text h2,
.footermenu .contact-me #contact-text h3 {
	font-size: 23px;
}

.footermenu .contact-me #contact-button {
	background-color: var(--footer-button-color);
	padding: 10px 20px 10px 20px;
	width: auto;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footermenu .contact-me #contact-button a {
	text-decoration: none;
	margin: -10px -20px -10px -20px;
	padding: 10px 20px 10px 20px;
	color: #fff;
}

.footermenu .contact-me #contact-button a:hover {
	opacity: 0.7;
}


/* ---------- CONTAINER FOOTER ---------- */

/* .footermenu .footer-container {
	 border: 1px solid yellow 
} */

.footermenu .footer-container .footer-row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -35px;
	/* border: 1px solid blue; */
}

.footermenu .footer-container .footer-row .footer-col {
	margin: 0px 60px;
	align-self: flex-start;
	/* border: 1px solid yellow; */
}

/* Titles footer */
.footermenu .footer-container .footer-row .footer-col h3 {
	font-size: 18px;
	font-family: 'Roboto';
	color: #fff;
}

/* follow and links */
.footermenu .footer-container .footer-row .footer-col li a {
	text-decoration: none;
	font-size: 15px;
	color: #666873;
}

.footermenu .footer-container .footer-row .footer-col li a:hover {
	color: #fff;
}

.footermenu .copyright {
	border: 1px solid var(--footer-color);
}

/* ===================
	     FOOTER
	===================  */



/* ========================
   	  *End Menu Body
	======================== */




/* JS function */
.container-expanded {
	margin-left: 60px;
	width: auto;
	height: auto;
	transition: all 0.3s;
}


@media screen and (max-width: 1600px) {
	#sidemenu {
		overflow: auto;
	}

	#sidemenu::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	/* Oculta la barra de desplazamiento del pulgar */
	#sidemenu::-webkit-scrollbar-thumb {
		width: 0px;
		height: 0px;
	}
}


/* CELLPHONE MEDIAQUERY */
/* @media screen and (max-width: 571px) {
	body{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
} */

/* CELLPHONE MEDIAQUERY */
@media screen and (max-width: 800px) {

	#sidemenu {
		translate: -100%;
	}
	.bodymenu {
		width: 100%;
		height: 100%;
		margin: auto;
		padding: auto;
	}

	.bodymenu section,
	.bodymenu footer {
		padding-left: 5px;
	}

	#background {
		margin-left: -5px;
		margin-top: -25px;
		/* border: 1px solid red; */
	}

	#about .about-content {
		justify-content: center;
		flex-wrap: wrap;
		
	}

	#about .about-content .img-info {
		margin-left: -70px;
	}

	#about .about-content .about-info {
		margin: 10px 200px;

	}

	.footermenu .footer-container .footer-row {
		flex-direction: column;
	}

	.footermenu .footer-container .footer-row .footer-col{
		align-self: center;
		text-align: center;
	}

}

@media screen and (max-width: 1100px) {
	#about .about-content .about-info .about-data p {
		width: 100%;
	}
	#about .about-content .img-info {
		padding-left: 70px;

	}
}

@media screen and (max-width: 190px) {

	#skills .skills-languages h3,
	#skills .skills-backend h3,
	#skills .skills-frontend h3,
	#skills .skills-db h3,
	#skills .skills-extra h3 {
		font-size: 5vw;
	}
}