:root {
	--hovercolorbody: #212020;
	--blackcolorbody1: #171616;
	--blackcolorbody2: #212020;
	--blackcolorbody3: #0f0e0e;
	--blackcolorbody4: #060606;

	--iconhover: red;
}

/* body {
	background: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
	padding-left: 300px;
	margin-top: 20px;
}
*/

/* body{
	font-family: 'Raleway';
} */

body {
	font-family: 'Montserrat';

	/* * opcional 
	display: flex; 
	justify-content: center;
	align-items: center; */
}



/*opcional activar zindex */

/* =============
	 *Menu Body
	============= */
.bodymenu {
	margin-left: 300px;
	width: auto;
	height: auto;
	transition: all 0.3s;
	padding-top: 25px;

	border: 1px solid red;
}

/* Control body sections */
.bodymenu section,
.bodymenu footer {
	padding-left: 90px;
	/* border: 1px solid red; */
}


/* Linea de texto */
.bodymenu section #simple-line {
	margin-left: 1.6px;
	padding-bottom: 10px;
	border-bottom: 3px solid #424141;
	width: 50px;
}

/* ===================
	 SECTION SKILLS
 	===================  */

/* #skills{
	border: 1px solid red;
} */

#skills .skills-languages,
#skills .skills-backend,
#skills .skills-frontend,
#skills .skills-db,
#skills .skills-extra {
	padding: 30px;
	margin-left: 20px;
	/* border: 1px solid red; */
}

#skills #img-content {
	display: flex;
	flex-wrap: wrap;
	/* border: 1px solid red; */
}

#skills .skills-languages #img-content img,
#skills .skills-backend #img-content img,
#skills .skills-frontend #img-content img,
#skills .skills-db #img-content img,
#skills .skills-extra #img-content img {

	padding-top: 20px;
	width: 130px;
	height: 100px;
	margin-left: 20px;
	object-fit: contain;
	/* 
	border: 1px solid red; */
}

/* ===================
	END SECTION SKILLS
 	===================  */


/* ===================
	 SECTION PROJECTS
 	===================  */
/* #projects .content-project {
		 display: flex;
		  border: 1px solid red;
} */


/* ===================
	END SECTION PROJECTS
	===================
*/



.footermenu {
	margin-top: 30px;
	position: static;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--blackcolorbody2);
	border: 1px solid var(--blackcolorbody2);
	color: #fff;
}

/* =============
   *End Menu Body
	============= */




/* JS function */
.container-expanded {
	margin-left: 60px;
	width: auto;
	height: auto;
	transition: all 0.3s;
}


@media screen and (max-width: 1600px) {
	#sidemenu {
		overflow: auto;
	}

	#sidemenu::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	/* Oculta la barra de desplazamiento del pulgar */
	#sidemenu::-webkit-scrollbar-thumb {
		width: 0px;
		height: 0px;
	}
}


@media screen and (max-width: 800px) {

	#sidemenu {
		translate: -100%;
	}

	.bodymenu {
		width: auto;
		margin: auto;
		padding: auto;
	}

	.bodymenu section,
	.bodymenu footer {
		padding-left: 5px;
	}

}