/* Menu bar section */
.fa.fa-home {
	font-size: 23px;
}

.fa.fa-user-o {
	font-size: 23px;
}

.fa.fa-code {
	font-size: 23px;
}

.fa.fa-tasks {
	font-size: 23px;
}

.fa.fa-cogs {
	font-size: 21px;
}

/* burger */
.fa.fa-bars {
	font-size: 36px;
}





/* Contact section */
.fa.fa-github {
	font-size: 33px;
}

.fa.fa-linkedin {
	font-size: 25px;
}

.fa.fa-envelope {
	font-size: 25px;
}

.fa.fa-twitter {
	font-size: 25px;
}


/* Skills section */
.fa.fa-terminal{
	background: #000;
	color: #fff;
	padding: 2px;
	border-radius: 2px;
}
/* .fa.fa-database{

}
.fa.fa-cog{

}.
fa.fa-code-fork{

} */


/* FOOTER SECTION */

#footer-logo-gmail,
#footer-logo-twitter,
#footer-logo-linkedin,
#footer-logo-github{
	font-size: 17px;
}

#nav-btn-theme:hover{
	cursor: pointer;
}