/* Estilos para el modal */
.modal {
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.59);
}

/* Estilos para el contenido del modal */
.modal-content {
	background: none;
	border: 0;

	margin: 5% auto;
	/* Margen para que el contenido del modal esté centrado */
	padding: 5px;
	width: 80%;
	/* Ancho del contenido del modal */
	animation: zoom 0.5s ease-in-out;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background: #fff;
	box-shadow: 6px 6px 28px 1px;
}


/* =============================== Modal Image config =============================== */

.modal-content .images-project {
	width: 45%;
	height: 100%;
	margin: 2.5px;

}

.carousel-item {
	transition: all 0.3s;
}

.carousel-item img {
	margin: auto;
	max-width: 100%;
	height: 400px;
	object-fit: cover;
	border-radius: 5px;
}


#secondcarousel span {
	width: 70%;
	height: 20%;
	opacity: 0.4;
	background-color: #000;
	border-radius: 5px;
	color: #000;
}

/* =============================== End image =============================== */


/* =============================== Modal config =============================== */

.modal-content .info-project {
	background-color: #fefefe;
	padding: 10px;
	margin: 2.5px;
	text-align: center;
	border-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex-direction: column;

	width: 55%;
	height: 100%;

}

.modal-content .info-project h1 {
	font-weight: 700;
	margin: 5px;

}

.modal-content .info-project p {
	padding: 0px 5px;

}

.modal-content .info-project span {
	font-weight: 600;
	margin: 5px;
}

.modal-content .info-project #img-tech {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 15px;

}

.modal-content .info-project #img-tech img {
	width: 10%;
	margin: 5px;
	border-radius: 2px;

}

.modal-content .info-project .project-references {
	display: flex;
	align-items: center;
	justify-content: center;
}


.modal-content .info-project a {
	align-self: flex-end;
	font-weight: 500;
	text-decoration: none;
	font-size: 15px;
	color: #000;
	margin: 5px 10px;
}

.modal-content .info-project a:hover {
	opacity: 0.8;
}

.modal-content .info-project a img {
	border-radius: 50%;
	width: 30%;

}

.modal-content .info-project a .icon-references {
	font-size: 30px;
}

/* =============================== End Modal config =============================== */


/* Animación de modal */
@keyframes zoom {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

/* Estilos para el botón de cerrar el modal */

.close {
	position: fixed;
	left: 94%;
	top: 1%;
	color: #fff;
	font-size: 35px;
	margin-left: -20px;

	padding: 11px 18px;
	background: #0000005b;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.close:hover,
.close:focus {
	background: #00000041;
	text-decoration: none;
	cursor: pointer;
}

/* CELLPHONE MEDIAQUERY */
@media screen and (max-width: 800px) {
	.modal-content {
		margin: 20% auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.modal-content .images-project {
		width: 100%;
		height: 100%;
	}

	.carousel-item img {
		/* max-width: 100%;
		max-height: 100%; */
		height: auto;
		width: auto;
		object-fit: contain;
	}

	.modal-content .info-project {
		width: 100%;
		height: 100%;
	}


	.close {
		left: 88%;
	}

	.close:hover,
	.close:focus {
		background: #00000041;
		text-decoration: none;
		cursor: pointer;
	}
}