:root {
	--width: 300px;
	--padding: 10px;
	--width-collapsed: 60px;

	--sidemenu-background-color: #0c0c0c;
	--sidemenu-hover-background-color: #212020;
	--sidemenu-icon-hover: #fbc646;

	--lines-side-menu: #212020;

	--sidemenu-color-btn-burger: #fff;
	--sidemenu-color-items: #fff;

	--sidemenu-collapsed-profile-img: 15%;

	--footer-color: #272727;
	--footer-button-color: #424141;
	--footer-bar-color: #212020;
}


/* Side Menu */
#sidemenu {
	background-color: var(--sidemenu-background-color);
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	transition: all 0.3s;
}

#sidemenu a {
	color: var(--sidemenu-color-items);
	text-decoration: none;
}


/* =============
		 Header
	============= */
#sidemenu #header {
	box-sizing: boder-box;
	border-bottom: solid 1px var(--lines-side-menu);
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: var(--sidemenu-background-color);
	z-index: 1;
}

#sidemenu #header #title {
	box-sizing: boder-box;
	overflow: hidden;
}

#sidemenu #header #title img {
	border-radius: 10%;
	width: 36px;
}

#sidemenu #header #menu-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px;

	width: 60px;
	box-sizing: border-box;

	color: var(--sidemenu-color-btn-burger);
}

#sidemenu #header #menu-btn:hover {
	color: var(--sidemenu-icon-hover);
}

#header #menu-btn:hover {
	background: var(--sidemenu-hover-background-color);
	cursor: pointer;
	width: auto;
}



/* =============
		Profile
	============= */

#sidemenu #profile {
	border-bottom: solid 1px var(--lines-side-menu);
	padding: 15px 0;
	text-align: center;
}

#sidemenu #profile #photo {
	box-sizing: border-box;
	padding: 10px;
	margin: auto;
}

#sidemenu #profile #photo img {
	border-radius: 50%;
	width: 50%;
}

#sidemenu #profile #name {
	display: flex;
	flex-direction: column;

	font-size: 22px;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 5px;
}
#sidemenu #profile #name #dev {
	margin: -4px;
	font-size: 16px;
}



#sidemenu #profile #contact {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin: 0px 15px 0px 15px;
}

#sidemenu #profile #contact a {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;
	background: #000;
	border-radius: 50%;
}

#sidemenu #profile #contact a:hover {
	color: var(--sidemenu-icon-hover);
}

/* =============
	 End Profile
	============= */



/* =============
		 Items
	============= */

/* Contenedor de items */
#sidemenu #menu-items {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* Contenedor de cada item */
/* #sidemenu #menu-items .item {
	border: 1px solid red !important;
} */

#sidemenu #menu-items .item a {
	display: flex;
	align-items: center;
	padding: 3px 10px;
	width: 100%;
	margin: auto;
}

#sidemenu #menu-items .item a:hover {
	background: var(--sidemenu-hover-background-color);
	color: var(--sidemenu-icon-hover);
}

#sidemenu #menu-items .item a div {
	margin: 0px 15px;
}

/* contenedor de ícono de item */
#sidemenu #menu-items .item .icon {
	display: inline-block;
	margin: 5px;
	box-sizing: border-box;
	padding: 10px;
	width: 20%;
	text-align: center;
}

/* contenedor de titulo de item */
#sidemenu #menu-items .item .title {
	padding: var(--padding) 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
	font-size: 20px;
	overflow: hidden;
}

/* =============
	  End Items
	============= */




/* =============
	Menu Expanded
Esto afecta solo al menu cuando esta expandido, no sera su valor por defecto
	============= */
.menu-expanded {
	overflow: auto;
	width: var(--width);
	transition: all 0.3s;
}

/* Oculta la barra de desplazamiento del pulgar */
.menu-expanded::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.menu-expanded::-webkit-scrollbar-thumb {
	width: 0px;
	height: 0px;
}

.menu-expanded #header #title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 60px;
}

/* =============
	End Menu Expanded
	============= */


/* =============
	Menu Collapsed
	Esto afecta solo al menu cuando esta cerrado, no sera su valor por defecto
	============= */
.menu-collapsed {
	width: var(--width-collapsed);
	overflow: auto;
	transition: all 0.3s !important;
}

.menu-collapsed::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.menu-collapsed::-webkit-scrollbar-thumb {
	width: 0px;
	height: 0px;
}


.menu-collapsed #header {
	width: auto;
}

.menu-collapsed #header #title {
	display: none;
}

.menu-collapsed #profile {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: auto !important;
	height: var(--sidemenu-collapsed-profile-img);
	max-height: 80px;

}

.menu-collapsed #profile #photo {
	position: absolute;
}

.menu-collapsed #profile #photo img {
	width: 50px !important;
}

.menu-collapsed #profile #name,
.menu-collapsed #profile #name a {
	display: none;
}

.menu-collapsed #profile #contact a,
.menu-collapsed #profile #contact a .fa {
	display: none !important;
}


/* .menu-collapsed .item {
	border: 1px solid blue;
} */

.menu-collapsed .item .icon {
	width: 100% !important;
	height: 100% !important;
	padding: 10px 0 !important;
}

.menu-collapsed .item a .title span {
	display: none !important
}

.menu-collapsed #menu-items .item .title {
	display: none !important;
}

.menu-collapsed #main-container {
	display: none;
}


/* =============
  End Menu Collapsed
	============= */